/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body{
  font-family: 'Poppins', sans-serif;
}

.header-bg{
  background-color: #264653;;
}
.header-info{
  color: #E0E0E0;
}
.header-align{
  margin-left: 15%;
  margin-top: 12%;
}
.btn-bg{
  background-color: #E76F51;
}
.high-lighter {
  color: #E76F51;
  ;
}
.gray-scale {
  filter: grayscale(100%);
}
.fa-star{
 color: #E77C40;
}
.client-name{
  color: #23A6F0;
}
.frequent-question{
  color: #383838;
}
ul {
  list-style: none;
}
a{
  color: gray;
  text-decoration: none;
}